/* 
    //colors : yello - #FCF951 blue - #422057
} */
.row-type {
  background-color: #422057;
  font-family: 'PT Sans Narrow', sans-serif;
}

.col-type {
  color: #ffffff;
  background-color: #d5d5d5;
  text-shadow: 2px 2px 4px  black;
}

.col-for {
  color: #ffffff;
  background-color: #d5d5d5;
  text-shadow: 2px 2px 4px  black;
  margin: 5px;
}
